<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle`
																								and uncomment the following Encore helpers to start using Symfony UX #}
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('css/style.css') }}">
		{% endblock %}

		{% block javascripts %}
			{#{{ encore_entry_script_tags('app') }}#}
		{% endblock %}
	</head>
	<div class="header">
		<header>
			<img class="logo" src="{{ asset('logo/logo.png') }}" alt="MDN logo">
			{% if app.user %}
				You are logged in as
				{{ app.user.username }},
				<a href="{{ path('app_logout') }}">Logout</a>
				<div>
					<a href={{ path('article_index') }}>Modifier les Produits</a>
					<a href={{ path('category_index') }}>Modifier les Catégories</a>
					<a href={{ path('tag_index') }}>Modifier les Tags</a>
				</div>
			{% else %}
				<a href="{{ path('app_login') }}">Login</a>
			{% endif %}
			<div>
				<a href={{ path('u_allarticles') }}>Produits</a>
			</div>
		</header>
	</div>


	<body class="body"> {% block body %}{% endblock %}
		</body>
	</html>
</html>
